<html>
  <body>
    <table border="1" background="#ffaaff">
      <tr>
        <td>
          Name
        </td>
        <td>
          Rain Checks
        </td>
        <td>
          Status
        </td>
      </tr>
      <tr>
        <td>
          Rebecca
        </td>
        <td>
          Rain Check with Robert
        </td>
        <td>
          <font color="red">Expired</font>
        </td>
      </tr>
    </table>
  </body>
</html>

